/*style title bar*/
.top-bar{
  height: 100px;
  pading: 20px;
  background-color:#030266;   
}

/*style for parallax*/
.parallax {
	background-image:url(https://github.com/LauraJourno/NHS-overseas-nurses/blob/master/docs/NHS%20nurse.jpg?raw=true);
	height: 250px;
	padding: 100px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family:arial;
  color: white;
  font-size: 20px;
  font-weight: light;
}

.list{ 
  color: #030266;
  font-family:arial;
  font-weight: lighter;
  font-size: 20px;
  text-align: justify;
  background-color: #ebeaed;
  width: 27%;
  height:498px;
  float: right;
  padding: 3%;  
}

.li {
  margin-bottom:9px;
}


.flourish-embed {
  width: 67%; 
  float: right;
}

.intro{
  font-size: 20px;
  color: white;
  text-align: justify;
  font-family: arial;
  font-weight: lighter;
  background-color: #030266;
  float:left;
  width: 500px;
  padding:20px;
 
.philippines {
	font-size: 20px;
	color: #030266;
	ext-align: justify;
  	font-family: arial;
	background-color: grey;
	float:left;
	width: 300px;
	padding: 20px;
	}
  
