<!DOCTYPE css>
h1 {font-family: Verdana, 
       sans-serif; 
       color: red; 
       font-size: 200%;
       text-align: center;
}

p {font-family: Arial, sans-serif; 
       color: #0000FF; 
       font-size: 120%; 
}
</css>
