background {
	color: #FDFDF9;
} 

page { 
	 margin: 20px;
} 

h1{
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

p {
       text-align: justify;
}
      



div#maintitle {
       text-align: center;
       font-size: 40px;
}
div#list {
	text-align: justify;
	font-size: 20px;
}

div#intro {
	text-align: justify;
	font-size: 20px;
}

div#column1 {
	float: left;
	width: 750px;
	padding: 20px;
    
}

div#column2 {
      text-align: justify;
	float: left;
	width: 350px;
	font-size: 20px;
	padding: 20px;
}







