website-min-width {
    min-width: 0;
}
website-max-width {
    max-width: 1000px;
}
    
background {color: #FDFDF9;}  

div#maintitle {
       text-align: center;
       font-size: 40px;
	height: 100px;
}

div#column1 {
	float: left;
	width: 60%;
	padding: 2%;
    
}

div#column2 {
      text-align: justify;
	float: left;
	width: 36%;
	padding: 2%;
}

p {
       text-align: justify;
}

      





